body {
    margin: auto;
    padding: 20px;
    font-family: sans-serif;
}

.board {
    background: #277e5c;
    height: 400px;
    width: 100%;
    border: 20px solid #703600;
    box-sizing: border-box;
    position: relative;
    color: white;
}

.startbox {
    padding: 20px;
    background:transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alink {
    text-decoration: none;
    font-size: large;
    color: #f1eeee;
}

button:hover{
    cursor: pointer;
}